@import "../../../Utils/variables";

.order-queue-card-container{
    box-sizing: border-box;
    background-color: $white;
    width: 400px;
    
}
.order-queue-card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-color;
    border-radius: 10px 10px 0 0;
    color: $white;
    font-weight: 700;
    padding: 10px 20px;
    box-sizing: border-box;
}

.order-food-list{
    padding: 10px 14px;
    box-sizing: border-box;
    border-bottom: 1px solid $inactive;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    p{
        margin: 0;
    }
}

.order-food-quantity{
    height: 100%;
    width: 10%;
    text-align: center;
}
.order-food-description{
    height: 100%;
    width: 70%;
}

.change-order-status-button{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: $white;
    border-radius: 4px;
    width: 40%;
    b{
        margin: 0;
        padding: 0;
    }
    cursor: pointer;
}

.order-placed{
    background-color: $red;
}

.order-processed{
    background-color: $yellow;
}

.order-ready{
    background-color: $blue;
}

.order-delivered{
    background-color: $primary-color;
}

.dine-in-header{
    background-color: $primary-color;
}

.takeaway-header{
    background-color: $red;
}