@import "../../../Utils/variables";

.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 500px;
    Form {
        width: 100%;
    }
}
.button-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#loginButton {
    width: 50vw;
    max-width: 500px;
    background-color: $primary-color;
}