@import "../../../Utils/variables";

.view-category-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    box-sizing: border-box;
}

.category-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background-color: $white;
    border: 1px solid $inactive;
    border-radius: 16px;
    padding: 2%;

}
.table-category-container{
    width: 100%;
    box-sizing: border-box;
    background-color: $white;
    margin-top: 40px;
    border: 1px solid $inactive;
    border-radius: 16px;
    padding: 2%;
}

.category-table-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}