@import "../../../Utils/variables";

.view-menu-tab-button-container{
    width: 100%;
    max-width: 2000px;
}
.view-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column  ;
    width: 100vw;
    padding: 0 40px;
    box-sizing: border-box;
    margin-top: 30px;
    .active-button{
        background-color: $primary-color;
    }
    .active-button:hover{
        color: white !important;
    }
}

.view-menu-tab-button-container Button:hover{
    border-color: $primary-color !important;
    color: $primary-color !important;
}

.content-container{
    width: 100%;
    max-width: 2000px;
    margin-top: 30px;
}


@media only screen and (max-width: $sm) {
    .view-menu-container{
        padding: 0 10px;
        background-color: $white;
    }
}

@media only screen and (max-width: $lg) {
    .view-menu-container{
        padding: 0 20px;
        background-color: $white;
    }
}

.active-button{
    color: $white;
}