@import "../../../Utils/variables";

.view-menu-container{
    width: 100vw;
    padding: 0 40px;
    box-sizing: border-box;
    .active-button{
        background-color: $primary-color;
    }
}

.content-container{
    margin-top: 30px;
}