@import "../../../Utils/variables";

.option-container{
    border: 1px solid $inactive;
    border-radius: 8px;
    width: 100%;
    height: 300px;
    background-color: $white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.option-header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $inactive;
    width: 100%;
    padding: 0px 20px;
    margin: 0;
    box-sizing: border-box;
}

.option-form-container{
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
}

#addOptionButton{
    border-color: $primary-color;
    color: $primary-color;
}