@import "../../../Utils/variables";

.register-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 500px;
    Form {
        width: 100%;
    }
}
.button-container{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#registerButton {
    width: 50vw;
    max-width: 500px;
    background-color: $primary-color;
}