
.cashier-menu-card-container{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
    row-gap: 6px;
    img{
        width: 200px;
        height: 150px;
        object-fit: cover;
    }
    p{
        margin: 0;
        padding: 0;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    p:nth-child(3){
        font-size: 18px;
    }
}
