@import "../../../Utils/variables";

.admin-layout-content{
    width: 100%;
}
.admin-layout-content-container{
    width: 100%;
    margin: 0;
    padding: 0;
}
#saveButton, #addButton{
    background-color: $primary-color;
  }