@import "../../../Utils/variables";

.admin-layout-container{
    display: flex;
    flex-direction: column;
}

.admin-layout-content-container{
    width: 100vw;
    height: 100vh;
}
#saveButton, #addButton{
    background-color: $primary-color;
  }