@import "../../../Utils/variables";

.admin-layout-content{
    width: 100%;
}
.admin-layout-content-container{
    width: 100%;
    margin: 0;
    padding: 0;
}
#saveButton, #addButton{
    background-color: $primary-color;
  }

.admin-restaurant-navbar{
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    align-content: center;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    background-color: $white;
    border-bottom: 1px solid $inactive;
    height: 80px;
    column-gap: 20px;
    box-sizing: border-box;
}

.admin-restaurant-navbar{
    .admin-navbar-item{
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        
        li{
            min-width: fit-content;
            font-size: 14px;
            padding: 6px 12px;
            cursor: pointer;
        }
    }
}

.active-nav{
    font-weight: 700;
    color: $primary-color !important;
}

@media only screen and (max-width: $lg) {
    .admin-restaurant-navbar{
        column-gap: 10px;
        .admin-navbar-item{
            li{
                font-size: 14px;
                padding: 6px 12px;
            }
        }
    }
    .admin-restaurant-navbar{
        padding: 0 20px;
    }
}

@media only screen and (max-width: $md) {
    .admin-restaurant-navbar{
        height: 60px;
        .admin-navbar-item{
            display: none;
        }
    }
}