@import "../../../Utils/variables";

.transaction-report-container{
    width: 100vw;
    padding: 0 40px;
    box-sizing: border-box;
}
.date-picker-container{
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    background-color: $white;
    padding: 26px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 16px;
    border: 1px solid $inactive;
}