@import "../../../Utils/variables";

.transaction-report-container{
    width: 100vw;
    padding: 0 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.date-picker-container{
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    background-color: $white;
    box-sizing: border-box;
    width: 100%;
    padding: 26px;
    border-radius: 16px;
    border: 1px solid $inactive;
    max-width: 2000px;
}

@media only screen and (max-width: $lg) {
    .transaction-report-container {
        padding: 10px;
    }
}

@media only screen and (max-width: $sm) {

    .transaction-report-container {
        h1{
            font-size: 18px;
        }
        padding: 0px;
        background-color: $white;
    }
    .date-picker-container {
        flex-direction: column;
        column-gap: 0;
        row-gap: 4px;
        border-radius: 0px;
        border: none;
        border: 1px solid $inactive;
        
    }
    .ant-select-selector{
        width: 100px;
    }
}

