@import "../../../Utils/variables";

.admin-transaction-brief-container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    max-width: 1000px;
}

@media only screen and (max-width: $lg) {
    .admin-transaction-brief-container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
    }
}

@media only screen and (max-width: $sm) {
    .admin-transaction-brief-container {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 2px;
        align-items: center;
        justify-content: center;
    }
}