@import "../../../Utils/variables";

.order-details-drawer-container{
    height: 100%;
    min-height: 100%;
}

.payment-total-text{
    margin-bottom: 0;
}

#secondary-button-drawer{
    background-color: white;
    border: 1px solid $primary-color;
    color: $primary-color;
    margin-top: 10px;
}

.payment-method-title{
    margin-top: 40px;
}

.radio-button-payment-method{
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 4px;
}

.payment-method-content{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    p{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        padding: 0px 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        b{
            font-size: 16px;
        }
    }

    hr{
        width: 100%;
        height: 0px;
        // background-color: $inactive;
    }

    button{
        margin-top: 20px;
        padding: 18px 20px;
        border-radius: 4px;
        border: none;
        background-color: $primary-color;
        color: white;
        font-weight: 700;
        font-size: 16px;
        cursor: pointer;
    }
}

.other-payment-method-input{
    border: 1px solid $inactive;
    padding: 4px;
}

.qris-payment-method-container{
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg-color;
    img {
        width: 100%;
        object-fit: cover;
    }
}