@import "../../../Utils/variables";

.edit-employee-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    padding: 0 20px;
    box-sizing: border-box;
}

.edit-employee-form{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    border: 1px solid $inactive;
    border-radius: 16px;
    margin-top: 20px;
    padding: 20px 40px;
    Form{
        width: 100%;
    }
}

.edit-employee-header{
    width: 100%;
}

.delete-employee-button{
    border-color: $red !important;
    color: $red !important;
    background-color: white !important;
    width: 100px;
    height: 40px;
    margin-right: 20px;
    margin-top: 20px;
}

.save-employee-button{
    background-color: $primary-color !important;
    width: 100px;
    height: 40px;
    margin-top: 20px;
}