@import "../../../Utils/variables";

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    Button{
        background-color: $primary-color;
    }
}
.qr-template{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $white;
    width: 400px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    p{
        margin: 0;
    }
    row-gap: 20px;
}

.printed-date-info{
    font-size: 12px;
}
.btn-generate-qr-code{
    height: 50px;
    width: 400px;

}

.form-container Button:hover{
    background-color: $primary-color !important;
}

.form-container Button{
    background-color: $primary-color;
}

.btn-print-qr-code{
    margin-top: 20px;
    width: 400px;
    height: 50px;
}